@import url('https://fonts.googleapis.com/css2?family=Eirene+Sans&display=swap');

body {
  font-family: 'Eirene Sans', sans-serif !important;
    
}
@media (max-width: 580px) {
  .service {
    margin-top: 70px;
  }
}
.serv{
  text-align: center;
}
.app-head-sub{
  /* color: #fff; */
  background: -webkit-linear-gradient(#ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service {
  background-color: #000000;
}
.ele {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

@media (max-width: 768px) {
  .ele {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.ele1 {
  background-color: #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.elementocontainer {
  
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

.elementitems {
  list-style: none;
  padding-left: 20px;
}

.elementoritem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.elementoricon {
  margin-right: 10px;
}

.elementortext {
  font-size: 16px;
  flex: 1;
}

.servicelist {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 519px) {
  .ele-service {
    display: flex;
    justify-content: center;
  }
}
.servicelist-head {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.servicelist-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.servicelist-li {
  padding: 10px 0;
}

.servicelist-li:last-child {
  border-bottom: none;
}

.bgimage {
  /* height: 400px;
  position: relative;
  overflow: hidden; */
  /* background-color: black; */
  background-size: cover;

  background-position: center center;
  box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.5);
  height: 400px;
}
.AppHead {
  color: white;
  text-align: center;
  padding-top: 15%;
  
}
.AppHead1 {
  /* color: white; */
  text-align: center;
 font-family: 'Eirene Sans', sans-serif;
  font-size: 56px;
  font-weight: 800;
  background: -webkit-linear-gradient(#d0ad11, #ff6a3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
@media (max-width: 522px) {
  .bgimage {
    height: 200px;
  }
  .AppHead1 {
    font-size: 36px;
    background: -webkit-linear-gradient(#d0ad11, #ff6a3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
}
@media (max-width: 302px) {
  .app-head-sub {
    padding-right: 50px;
    color: aliceblue;
  }
}
.app-head-sub {
  color: aliceblue;

}
.service-icon {
  font-size: 20px;
  background: -webkit-linear-gradient(#d0ad11, #ff6a3d);
 
 
  
  /* Set the text color to transparent */
  -webkit-text-fill-color: transparent;
}


.service-section {
  background-color: black;
}
.section2-service {
  /* color: white; */
 font-family: 'Eirene Sans', sans-serif;
  font-weight: 300;
  padding: 30px;
}
.section2-service2 {
  /* color: white; */
 font-family: 'Eirene Sans', sans-serif;
  font-weight: 300;
  padding: 0 30px;

}
.elementortitle span {
  /* color: white; */

 font-family: 'Eirene Sans', sans-serif;

 
}
.elementortitle {
  padding-top: 30px;
  margin-left: -15px;
  text-align: center;
  background: -webkit-linear-gradient(#d0ad11, #ff6a3d);
  -webkit-background-clip: text;
}
.elementordescription {
  color: white;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 70px;
  
 font-family: 'Eirene Sans', sans-serif;
 font-weight: 500;
}
.elementoritem {
  color: white;
  padding-left: 25px;
 font-family: 'Eirene Sans', sans-serif;
}
.elementorcontainer {
  color: white;
  padding-left: 25px;
 font-family: 'Eirene Sans', sans-serif;
}


 
  /* background: -webkit-linear-gradient(#d0ad11, #ff6a3d); */
 /* color: #d0ad11; */
 .elementoricon {
  
  background: -webkit-linear-gradient(#d0ad11, #ff6a3d); /* Example gradient */
  font-weight: bold !important;
  
}


.elementorcontent {
 text-align: center;
  /* background: -webkit-linear-gradient(#d0ad11, #ff6a3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  padding-top: 20px;
  
  
}

.elementoritem {
  display: flex;
  align-items: center;
}

.elementoricon {
  margin-right: 10px; /* Adjust as needed */
}

.elementoricon svg {
  font-size: 20px; /* Adjust icon size as needed */
}

.elementortext {
  flex: 1;
  overflow-wrap: break-word;
}

.elementoritem:not(:last-child) {
  border-bottom: 1px dotted #ccc; /* Dotted line between items */
  padding-bottom: 10px; /* Adjust spacing as needed */
  margin-bottom: 10px; /* Adjust spacing as needed */
}

@media (max-width: 767px) {
  .elementoritem {
    flex-direction: column;
    align-items: flex-start;
  }

  .elementoricon {
    margin-right: 0;
    margin-bottom: 10px; /* Adjust spacing as needed */
  }

  .elementoritem:not(:last-child) {
    border-bottom: 1px dotted #ccc; /* Dotted line between items */
    padding-bottom: 10px; /* Adjust spacing as needed */
    margin-bottom: 10px; /* Adjust spacing as needed */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: black;
}

/* body {
  color: #999999;

  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
} */

.cards1 {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 50px;
}

.cards__item1 {
  display: flex;
 
}

@media (min-width: 40rem) {
  .cards__item1 {
    width: 60%;
  }
}

@media (min-width: 56rem) {
  .cards__item1 {
    width: 33.3333%;
  }
}
.cardservice-image {
  background-color: #000000;
}
.cardservice {
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.cardsservice {
  margin-top: 40px;
  background-color: #1a1818;
  
}
.cards__item1 :hover {
  /* box-shadow: 0 20px 40px -14px rgba(218, 197, 197, 0.25); */
  background-color: rgb(52, 54, 55);
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__title {
  
 
  font-size: 16px;
  font-weight: 800;
  padding-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
 font-family: 'Eirene Sans', sans-serif;
 
}

.cards__item1:hover .card__text {
  color: rgb(255, 255, 255);
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  color: aliceblue;
 font-family: 'Eirene Sans', sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700");

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

/* a {
  color: inherit;
} */

.servicelist {
  font-family: "Heebo";

  /* background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img); */

  color: white;
  border-radius: 1em;
  padding-left: 20px;
  padding-right: 50px;
  /*margin: 2em;*/

  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;

  position: relative;
  overflow: hidden;

  text-decoration: none;
}
.list1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicelist h1 {
  padding-top: 30px;
  padding-bottom: 20px;
 font-family: 'Eirene Sans', sans-serif;
  font-size: 24px;
  font-weight: 800;
  padding-left: 20px;
}
.servicelist-head {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
 
  border: 1px solid #d0ad11;
  background: -webkit-linear-gradient(#d0ad11, #ff6a3d);
  -webkit-background-clip: text;
  width: 350px;
  height: 400px;
  
  
}
.servicelist-li li {
 font-family: 'Eirene Sans', sans-serif;
  font-size: 15px;
  text-align: center;
}
.servicelist-li:hover {
 
  background: linear-gradient(45deg, #d0ad11, #ff6a3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.servicelist-ul {
  list-style-type: none;
}



/* .shadow-span {
  color: transparent;
  -webkit-background-clip: text;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 85px;
  line-height: 1;
  z-index: 1;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d0ad11;
  -webkit-text-fill-color: transparent; */
  /* opacity: 0.3; */
  /* position: relative; */

/* .shadow-span:before {
  position: absolute;
  content: "";
  background: #000;
  filter: blur(15px);
  width: 100%;
  height: 45px;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%);
} */
.shadowh1 {
  font-size: clamp(25px, 3.5vw, 40px);
  line-height: 1.5;
  color: #fff;
  text-align: center;
}
.shadowPara {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  color: #fff;
}







/* --------- */

