@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Workbench&display=swap");

.homepage {
  background-color: black;
  font-family: "Be Vietnam Pro";
}

.example-10.video-background .video-background-heading {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* @media (max-width: 1000px) {
  .example-10 h1 {
    padding-top: 200px;
  }
} */
.example-10 h1 {
  padding-left: 30px;
  padding-top: 25%;
  color: #f7418f;

  line-height: 1.2;
}
.head-home-sub {
  color: #fff;
}
.example-10 p {
  color: #ffffff;
  line-height: 1.75;

  margin-top: 20px;
  padding-left: 30px;
}
/* button css
 */
.buttonarrow {
  border: none;
  background: none;
  cursor: pointer;
}
.button-home {
  color: white;
  text-decoration: none;
}
.buttonarrow span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.buttonarrow svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
  color: #f7418f;
}

.buttonarrow:hover svg {
  transform: translateX(0);
}

.buttonarrow:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: #f7418f;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f7418f;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.buttonarrow:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* -----------mobile-bg--------------- */

.head-mobile-sub {
  color: #fff;
}
.container-homepage-mobile {
  padding-top: 70px;
  padding-bottom: 70px;
}
.container-homepage-mobile h1 {
  padding-left: 30px;

  color: #f7418f;

  line-height: 1.2;
}
.head-home-sub {
  color: #fff;
}
.container-homepage-mobile p {
  color: #ffffff;
  line-height: 1.75;

  margin-top: 20px;
  padding-left: 30px;
}

.buttonarrow-mobile {
  border: none;
  background: none;
  cursor: pointer;
}
.button-home-mobile {
  color: white;
  text-decoration: none;
  padding-left: 30px;
}
.buttonarrow-mobile span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.buttonarrow-mobile svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
  color: #f7418f;
}

.buttonarrow-mobile:hover svg {
  transform: translateX(0);
}

.buttonarrow-mobile:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: #f7418f;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f7418f;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.buttonarrow-mobile:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ................ */
.slider-head {
  color: #fff;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
  padding-left: 30px;
}
.slider-head span {
  color: #f7418f;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Calculate the translation to move back to the first image */
    transform: translateX(calc(-250px * 1));
  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    /* Adjust the translation value based on the width of your slides and the number of duplicates */
    -webkit-transform: translateX(calc(-250px * 14));
    transform: translateX(calc(-250px * 14));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    /* Adjust the translation value based on the width of your slides and the number of duplicates */
    -webkit-transform: translateX(calc(-250px * 14));
    transform: translateX(calc(-250px * 14));
  }
}

.slider::before,
.slider::after {
  /* background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); */
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide {
  height: 100px;
  width: 250px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background: black;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  /* width: 960px; */
}

/* ---------------------------------------- */

.item2 img {
  max-width: 100%;
  height: auto;
}
.black-box-image {
  object-fit: cover;
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  gap: 10px;
  background-color: #e6e3e3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);

  /* padding: 20px 0; */
}

.buis-analysis {
  background-color: #181414;
}

.buis-card {
  background-color: rgb(40, 38, 38);
}
.rounded-3 {
  border-radius: 0.5rem !important;
}

.rounded {
  border-radius: var(--bs-border-radius) !important;
}
.bg-black {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
}
.gap-3 {
  gap: 1rem !important;
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.justify-content-center {
  justify-content: center !important;
}
.d-flex {
  display: flex !important;
}
@media (max-width: 500px) {
  .buis-left,
  .buis-right {
    max-width: 100%;
  }
}
@media (max-width: 580px) {
  .buis-analysis {
    background-color: r rgb(240, 240, 240);
    margin-right: 10%;
    margin-left: 10%;
  }
}
@media (max-width: 768px) {
  .app-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
  }

  .buis-card {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
  }
}

@media (max-width: 576px) {
  .buis-content {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
  }
}
.buis-content {
  padding-left: 70px;
}

/* .card-img-top {
  max-width: 100%;
  height: auto;
} */
.card1 {
  width: 100%;
  max-width: 700px; /* Set maximum width */
  margin: auto; /* Center the card */
  /* Add other styles as needed */
}
.card1 {
  background-color: #e6e3e3;
  padding-left: 50px;
  padding-right: 50px;
}
.mobile-strategy {
  background-color: rgb(0, 0, 0);
}

/* CSS for desktop screens */
@media only screen and (min-width: 950px) {
  .mobile-strategy {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .strategy-section {
    display: none;
  }
}

/*  Home video background css */
/*  Home video background css */
/*  Home video background css */

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
} */
.top1-tit {
  overflow: hidden;
}
.container-homepage {
  position: absolute;
  width: 100%; /* set width to 100% to remove space on sides */
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  display: block;
}

/* .bgcontainer {
  width: 100%;
  height: 100vh;
} */

/* Responsive Styles */
/* @media only screen and (max-width: 600px) {
  /* .overlay {
    width: 100%;
    height: 300%;
  } 
  .video {
    width: 100%;
    height: 900px;
  }
  .homeVideo {
  }
} */

/* style.css */
.home {
  background-color: rgb(0, 0, 0);
}
.move {
  padding-left: 10px;
  padding-top: 9px;
  width: 20%;
}
.move-span {
  color: #f7418f;
}
.presentation-box1 {
  background-color: #000000;
  border-radius: 5px;
  padding: 10px;
  width: 350px; /* Adjust width as needed */

  height: 490px;
  margin-top: 100px;
  margin-left: 17%;
  margin-bottom: 30px;
}
.presentation-box2 {
  background-color: #000000;
  border-radius: 5px;
  padding: 10px;
  width: 350px; /* Adjust width as needed */

  height: 490px;
  margin-top: 100px;
  margin-left: 7%;
  margin-bottom: 30px;
}
.presentation-box3 {
  background-color: #000000;
  border-radius: 5px;
  padding: 10px;
  width: 350px; /* Adjust width as needed */

  height: 490px;
  margin-top: 100px;
  margin-left: -4%;
  margin-bottom: 30px;
}

.head-box2:hover,
.head-box4:hover,
.head-box5:hover,
.head-box6:hover,
.buis-card:hover {
  background-color: white;
  color: #f7418f;
}
.buis-card h4:hover {
  color: #f7418f;
}
.head-box1 {
  background-color: #413e3e;
  width: 150px;
  height: 300px;
  border-radius: 5px;
  margin-left: -2%;
  color: #f5f5f5;
}

.head-box2 {
  background-color: rgb(95, 89, 89);
  width: 150px;
  height: 150px;
  margin-left: -2%;
  padding-top: 50px;
  margin-top: 20px;
  color: #f5f5f5;
  border-radius: 5px;
}
.head-box3 {
  background-color: rgb(0, 0, 0);
  width: 178px;
  height: 130px;
  margin-left: -170%;
  /* margin-top: -193px;  */
  color: #f5f5f5;
  border-radius: 5px;
}
.head-box4 {
  background-color: rgb(95, 89, 89);
  width: 178px;
  height: 130px;
  margin-top: 10px;
  margin-left: -170%;
  color: #f5f5f5;
  border-radius: 5px;
}
.head-box1-sub {
  width: 178px;
  height: 330px;
}
.head-box5 {
  background-color: rgb(95, 89, 89);
  width: 178px;
  height: 190px;
  margin-top: 10px;
  margin-left: -170%;
  color: #f5f5f5;
  border-radius: 5px;
}
.head-box6 {
  background-color: rgb(95, 89, 89);
  width: 178px;
  height: 199px;
  margin-top: -10px;
  margin-left: -170%;
  color: #f5f5f5;
  border-radius: 5px;
}

@media (max-width: 991px) {
  .ooo {
    margin-right: 60%;
    margin-top: -120%;
  }
  .head-box3 {
    margin-left: 150%;
  }
  .head-box4 {
    margin-left: 150%;
  }
  .head-box5 {
    margin-left: 150%;
  }
}
.oneimage {
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
}

.oneimage img {
  transition: transform 0.5s ease;
}

.oneimage:hover img {
  transform: scale(1.5);
}

.oneimage--colorize img {
  transition: transform 0.5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
}

.oneimage--colorize:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}
.presentation-box {
  width: 400px;
}

.WEDO-SERVICE-heading {
  color: white;
  text-align: center;
  padding-top: 50px;
}
.WEDO-SERVICE-heading span {
  color: #f7418f;
}
/* Video {
  height: 400px;
  width: 100%;
  background-size: cover;
} */

.video-background__video {
  width: 100%;
}
@media (max-width: 1000px) {
  .HOMEB {
    display: none;
  }
}
@media (max-width: 767px) {
  .example-10 h1 {
    padding-top: 15%;
  }
}
@media (max-width: 584px) {
  .example-10 h1 {
  }
  .video-background__video {
    margin-top: 14%;
  }
}

@media (min-width: 769px) {
  .mobile-background {
    display: none;
  }
}

@media (max-width: 769px) {
  .top1-tit {
    display: none;
  }
}

.top3-home-client {
  margin-top: -20%;
}
