body {
  font-family: "Eirene Sans", sans-serif !important;
}

.workbg {
  /* height: 400px;
  position: relative;
  overflow: hidden; */
  /* background-color: black; */
  background-size: cover;

  background-position: center center;
  box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.5);
  height: 400px;
}
.workHead {
  color: white;

  font-weight: 800;
  background: -webkit-linear-gradient(#d0ad11, #ff6a3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.workHead1 {
  text-align: center;
  font-family: "Eirene Sans", sans-serif !important;
  font-size: 56px;
  padding-top: 15%;
}
@media (max-width: 522px) {
}
@media (max-width: 522px) {
  .workHead1 {
    font-size: 36px;
    background: -webkit-linear-gradient(#d0ad11, #ff6a3d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .workHead {
    padding-top: 15%;
  }
}
@media (max-width: 302px) {
  .work-head-sub {
    padding-right: 50px;
    color: aliceblue;
  }
}
.work-head-sub {
  background: -webkit-linear-gradient(#ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 600px) {
  .workHead1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .workbg {
    height: 250px;
  }
}
@media (max-width: 432px) {
  .workHead1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25%;
  }
}
.workpage-section2 {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 40px;
  line-height: 28px;
}
.video-head {
  background: -webkit-linear-gradient(#d0ad11, #ff6a3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.video-para {
  color: white;
}
.video {
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  padding-top: 40px;
}

.carasoul-work {
  margin-top: 70px;
  margin-bottom: 80px;
  padding-right: 100px;
  padding-left: 100px;
}
.gaayu {
  position: relative;
  transform-style: preserve-3d;
  padding: 10px;
}
.gaayu::before {
  content: "";
  position: absolute;
  inset: 8px;
  background: conic-gradient(from 180deg at -12%, #d0ad11, #ff6a3d);
  filter: blur(5px);
  transform: translate3d(1px, 1px, -2px);
  pointer-events: none;
}
/* Custom styles for the dots */

.carousel.carousel-slider {
  height: 600px;
}

/* Custom CSS */
.carousel .slide img {
  max-width: 100%;
  height: 600;
}

.app-mobileview {
  /* center the article in the viewport */
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  /* include an off-white background */
  background: hsl(0, 0%, 0%);
  /* add perspective for the rotation of the article, added through the script */
  perspective: 500px;
}

article {
  /* limit the width of the article container */
  width: 350px;
  /* display the contents in a column */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(0, 6%, 10%);
  line-height: 2;
  border-radius: 10px;
  margin: 0.5rem;
  border: 1px solid;
  border-image: linear-gradient(to right, #d0ad11, #ff6a3d);
  border-image-slice: 1;
  /* transition for the transform property, updated in the script */

  box-shadow: 0 0 5px -2px hsla(0, 0%, 0%, 0.1);
}

article figure {
  /* limit the width and height of the figure to show the image in a circle */
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* specify negative margin matching half the height of the element */
  margin-top: -60px;
  /* position relative for the pseudo element */
  position: relative;
}
article figure:before {
  /* add a border around the figure matching the color of the background, faking the clip */
  content: "";
  border-radius: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border: 1rem solid hsl(270, 5%, 9%);
  box-shadow: 0 1px hsla(0, 0%, 0%, 0.1);
}
article figure img {
  /* stretch the image to cover the size of the wrapping container */
  border-radius: inherit;
  width: 100%;
  height: 100%;
  /* object fit to maintain the aspect ratio and fit the width/height */
  object-fit: cover;
}

article div {
  /* center the text in the div container */
  text-align: center;
  /* margin: 2rem; */
}
article div p {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
  margin: 1rem 0 3rem;
  font-family: "Eirene Sans", sans-serif !important;
  /* position relative for the pseudo element */
  position: relative;
  z-index: 5;
}
article div p:before {
  /* with SVG elements include two icons for the quote */
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: -5;
  opacity: 0.05;
  /* position the icons at either end of the paragraph, rotate the second to have a mirrorer image */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" width="70" height="70"><rect x="0" y="40" width="30" height="30"></rect><path d="M 0 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path><rect x="40" y="40" width="30" height="30"></rect><path d="M 40 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path></svg>'),
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" width="70" height="70" transform="rotate(180)"><rect x="0" y="40" width="30" height="30"></rect><path d="M 0 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path><rect x="40" y="40" width="30" height="30"></rect><path d="M 40 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path></svg>');
  background-position: 20% 20%, 80% 80%;
  background-repeat: no-repeat;
}
article div h1 {
  /* considerably reduce the size of the heading */
  background: -webkit-linear-gradient(#d0ad11, #ff6a3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Eirene Sans", sans-serif !important;
  font-size: 0.75rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.view-button {
  /* padding: 1em 2.1em 1.1em; */
  /* border-radius: 10px; */
  /* margin: 8px 8px 8px 8px; */
  width: 150px;
  /* height: 140px; */
  margin-top: 20px;
  color: #fbdedb;

  display: inline-block;
  /* background: #e74c3c;
  background-color: #fbdedb; */
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 0.85em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  position: relative;
  border: 2px solid;
  border-image: linear-gradient(45deg, #d0ad11, #ff6a3d) 1;
  background-image: linear-gradient(45deg, #d0ad11, #ff6a3d) !important;
  border-radius: 5px;
  transition-duration: 1s;
  position: relative;
}
/* .btn:hover, .btn:focus {
  opacity: 0.8;
} */
.view-button:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.view-button.block {
  display: block !important;
}

.button-work-card {
  padding-bottom: 20px;
}
/* circle img css */
.the-5 ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.the-5 ul {
  display: -webkit-flex;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.the-5 ul {
  display: -webkit-flex;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-right: 40px;
  padding-left: 40px;
}

.the-5 ul li {
  width: 15%;
  height: 4dvb;
  text-align: center;
  position: relative;
  padding-bottom: 15%;
  border-radius: 100%;
  overflow: hidden;

  /* padding-right: 60px;
     padding-left: 60px;   */
  background-color: blue;
  /* padding-top: 30px; */
  margin-top: 43%;
}

.the-5 li img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.the-5 ul li h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
}

@media (max-width: 1000px) {
  .the-5 ul {
    margin-top: -300px;
  }
}
@media (max-width: 650px) {
  .the-5 ul {
    margin-top: -250px;
  }
}
@media (max-width: 550px) {
  .the-5 ul {
    margin-top: -150px;
  }
}
@media (max-width: 350px) {
  .the-5 ul {
    margin-top: -100px;
  }
}
.video-container {
  border: 5px solid;
  border-image: linear-gradient(to right, #d0ad11, #ff6a3d);
  border-image-slice: 1;
}
@import url('https://fonts.googleapis.com/css2?family=Eirene+Sans&display=swap');

body {
  font-family: 'Eirene Sans', sans-serif !important;
 
}

/* video section css start */

@media (min-width:900px){
  .video-container{
    /* display: none !important; */
  }
  .card-mobile-work{
    display: none !important;
  }
  .VIDEO-SEC{
    display: none;
  }
}
.workbg {
  /* height: 400px;
  position: relative;
  overflow: hidden; */
  /* background-color: black; */
  background-size: cover;

  background-position: center center;
  box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.5);
  height: 400px;
}
.workHead {
  color: white;

  font-weight: 800;
  background: -webkit-linear-gradient(#d0ad11, #ff6a3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.workHead1 {
  text-align: center;
  font-family: "Eirene Sans", sans-serif !important;
  font-size: 56px;
  padding-top: 15%;
}
@media (max-width: 522px) {
}
@media (max-width: 522px) {
  .workHead1 {
    font-size: 36px;
    background: -webkit-linear-gradient(#d0ad11, #ff6a3d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .workHead {
    padding-top: 15%;
  }
}
@media (max-width: 302px) {
  .work-head-sub {
    padding-right: 50px;
    color: aliceblue;
  }
}
.work-head-sub {
  background: -webkit-linear-gradient(#ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 600px) {
  .workHead1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .workbg {
    height: 250px;
  }
}
@media (max-width: 432px) {
  .workHead1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25%;
  }
}
.workpage-section2 {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 40px;
  line-height: 28px;
}
.video-head {
  background: -webkit-linear-gradient(#d0ad11, #ff6a3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.video-para {
  color: white;
}
.video {
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  padding-top: 40px;
}

.carasoul-work {
  margin-top: 70px;
  margin-bottom: 80px;
  padding-right: 100px;
  padding-left: 100px;
}
.gaayu {
  position: relative;
  transform-style: preserve-3d;
  padding: 10px;
}
.gaayu::before {
  content: "";
  position: absolute;
  inset: 8px;
  background: conic-gradient(from 180deg at -12%, #d0ad11, #ff6a3d);
  filter: blur(5px);
  transform: translate3d(1px, 1px, -2px);
  pointer-events: none;
}
/* Custom styles for the dots */

.carousel.carousel-slider {
  height: 600px;
}

/* Custom CSS */
.carousel .slide img {
  max-width: 100%;
  height: 600;
}
/* video section css end */

.sss{
 
  /* background: url('../components/asserts/firstpage/red\ image.png') no-repeat center center; */
  background-size: cover;
  width: 80%;
  height: 500;
  margin-top: 60px;
  
}
.yyyy{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.col {
  flex: 2; /* Equal width for both columns */
  padding: 20px; /* Add padding for spacing */
}

/* Styles for the content inside the columns */
label.otl-label {
  font-weight: bold;
}

h2 {
  margin-top: 10px; /* Add some spacing between elements */
}

small {
  display: block; /* Ensure the small text is on a new line */
  margin-top: 10px; /* Add some spacing */
}



/* circle img css */
.app{
  margin-top: 10px !important;
}
.the-5 ul, li { list-style: none; margin: 0; padding: 0; }


.the-5 ul { 
  display: -webkit-flex; 
  display: flex; text-align: center; 
  justify-content: space-between; 
  margin-bottom: 30px;
  margin-top: -30px;
  
 }

 

 .the-5 ul { 
  display: -webkit-flex; 
  display: flex;
   text-align: center; 
   justify-content: space-between;
    margin-bottom: 30px; 
    padding-right: 40px;
    padding-left: 40px;
  }

  .the-5 ul li { 
    width: 14%; 
    /* height: 4dv; */
    text-align: center;
     position: relative; 
     padding-bottom: 12%; 
     border-radius: 100%;  
     overflow: hidden; 
    
     /* padding-right: 60px;
     padding-left: 60px;   */
     /* background-color: blue; */
     /* padding-top: 30px; */
     margin-top: 50%;
    
     border: 1px solid #d0ad11;
     background: -webkit-linear-gradient(#d0ad11, #ff6a3d);
     -webkit-background-clip: text;
    
    
    }

    /* @media screen and (max-width:600px){
      .the-5 ul li { 
        width: 15%; 
        height: 4dvb;
        text-align: center;
         position: relative; 
         padding-bottom: 15%; 
         border-radius: 100%; 
         overflow: hidden; 
        
         background-color: blue;
        
         margin-top: 193% !important;
        
        
        }
    }
   */

.the1 li  img 
{ position: absolute; 
  width: 80%;
   height: 50%;
    top: 0; 
    left: 0; 
    object-fit: cover; 
  } 


.the-5 ul li h3 
{ 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: 
  translate(-50%,-50%);
   color: #fff; margin: 0; padding: 0; font-size: 1.5vw; }

  .the2{
    /* margin-top: -500px; */
  }

  .bg1{
padding-top: 20px;
width: 400px;
height: 300px;
margin-left: 80px !important;


margin-top: -10px;
  }
  .u{
    padding-top: 50px;
   background-color: #14121270; 
   height: 380px;
   margin-top: 50px;
   /* border: 1px solid rgb(202, 202, 202); */
	/* border-radius: 6px; */
	 /* -webkit-box-shadow: 1px 1px 10px 0px orange;
  -moz-box-shadow: 1px 1px 10px 0px orange;
  box-shadow: 1px 1px 10px 0px orange;  */


  /* background: conic-gradient(from 180deg at -12%, #d0ad11, #ff6a3d); */
  /* filter: blur(5px); */
  /* transform: translate3d(1px, 1px, -2px);
  pointer-events: none; */

  
    ;


  }
  /* .app{
    margin-top: 90px;
    color: #fff !important;
    font-weight: bolder;
    
  } */

  .orange-box {
    border-radius: 20px;
    color: #d0ad11;
  }
  .development-p{
    color: #fff;
    padding-top: 18px !important;
    width: 100%;
    
  }
  .develoment-para{
    margin-top: 190px;
    color: #fff;
  }
  .apph1{
    font-size: 65px;
    font-weight: 750 !important;
    width: 70%;
  }
  .appp-section{
    border-style: solid 5px rgb(147, 8, 189) !important;
  }
  

h1 {
  color: #444;
}

 .btn-app{
    /* padding: 1em 2.1em 1.1em; */
    /* border-radius: 10px; */
    /* margin: 8px 8px 8px 8px; */
    width: 168px !important;
    /* height: 140px; */
    margin-top: 25px;
    color: #fbdedb;
    padding: 8px;
    
    display: inline-block;
    /* background: #e74c3c;
    background-color: #fbdedb; */
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
    border: 2px solid  ; 
    border-radius: 5px !important;
    border-image:linear-gradient(45deg, #d0ad11, #ff6a3d)1; 
    background-image:linear-gradient(45deg, #d0ad11, #ff6a3d) !important;

 

   
 
   transition-duration: 1s;
   position: relative;
}
/* .btn:hover, .btn:focus {
    opacity: 0.8;
} */
.btn-app:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}
.btn-app.block {
    display: block !important;
}
.btn-app.circular {
  border-radius: 50em !important;
}


/* Colours */

/* .blue {
    background-color: #76797a !important;
} */
.the-5 li img{
object-fit: cover;
position: absolute;
width: 100%;
height: 100%;
top:0;
left:0;
}



/* hide the design */
/* hide the design */
/* hide the design */
/* hide the design */

@media screen and (max-width:999px){
  .S-work{
    display: none;
  }
}
.boxes {
  /* background-image:linear-gradient(45deg, #d0ad11, #ff6a3d) !important; */
  /* background-color: #d0ad11;
  background-color: #ff6a3d; */
  background-image:linear-gradient(45deg, #1b1010,#d0ad11, #ff6a3d,black)!important;
  border-radius: 10px !important;
  
  width: 290px; /* Adjust width as needed */

  height: 545px;
  
   margin-left: 140%; 
  margin-bottom: 30px;
  margin-top: -70% !important;
  z-index: 2;
}

/* .mobile-img{
  margin-top: -40px !important;
  margin-left: 10%;
  width: 360px;
  margin-top: px !important;
} */

.mobile-img {
  margin-left: 10%;
  width: 360px;
  position: relative; /* Required for absolute positioning */
  margin-top: -40px !important;
  /* z-index: 2; */
 
}

@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.8; }
  100% { opacity: 1; }
}

.animated {
  animation: flicker 1s infinite; /* Adjust animation duration as needed */
}
.bg11{
  width: 625px;
  height: 540px;
  margin-left:-18%;
  margin-top: 51px !important;
  
}




/* video section css */




.V-page{
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.itemsecond {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

  &:nth-child(1),
  &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) {
    left: 50%;
  }
  &:nth-child(4) {
    left: calc(50% + 220px);
  }
  &:nth-child(5) {
    left: calc(50% + 440px);
  }
  &:nth-child(6) {
    left: calc(50% + 660px);
    opacity: 0;
  }
}

.contentV {
  width: min(30vw, 400px);
  position: absolute;
  margin-top: 300px;
  /* top: 50%; */
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica, sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;

  & .title {
    font-family: "arial-black";
    text-transform: uppercase;
  }

  & .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 0.8rem;
  }

  & .more {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
  }
}

.itemsecond:nth-of-type(2) .contentV {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav-side {
  position: absolute;
 
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;
  margin-top: -90px !important;

  & .btn-Vpage  {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -90px !important;


    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (max-width:700px)  {
  .contentV {
    & .title {
      font-size: 14px;
      font-weight: bold;
      
      margin-top: -27px;
      margin-left: -28px;
    }
    & .description {
      font-size: 14px;
      
      width: 165%! important;
      margin-left: -28px;
      line-height: 19px;
     
      
    }
    & .more {
      font-size: 0.7rem;
      margin-top: -30px;
      margin-left: -13px;
    }
  }
  .itemsecond{
    width: 140px;
    height: 250px;
    

    &:nth-child(3) {
      left: 56% !important;
      /* margin-top: -60px; */
      margin-top: 20px!important;
      
    }
    &:nth-child(4) {
      left: calc(70% + 170px);
      /* margin-top: -60px; */
     
    }
    &:nth-child(5) {
      left: calc(50% + 340px);
      /* margin-top: -60px; */
    }
    &:nth-child(6) {
      left: calc(50% + 510px);
      /* margin-top: -40px; */
      opacity: 0;
    }
  }
  
.nav-side {
  position: absolute;
 
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;


  & .btn-Vpage  {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;
   


    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
}


