.list {
  text-decoration: none;
}

.dropdown-item:active {
  background-color: black;
  background: linear-gradient(45deg, #ff0506, #ff0506, #ff0506, #c142423d);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dropdown-item:hover {
  background-color: black;
  background: linear-gradient(45deg, #ff0506, #ff0506, #ff0506, #c142423d);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .navbar-nav .nav-link.active {
  font-size: 20px;
  font-family: "Urbanist", sans-serif;
  color: #ff0506;
  background: linear-gradient(45deg, #ff0506, #ff0506, #ff0506, #c142423d);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 10px #ff0506);
} */
.nav-link {
  color: #ff0506;
  background: linear-gradient(45deg, #ff0506, #ff0506, #ff0506, #c142423d);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 10px #ff0506);
  font-family: "Urbanist", sans-serif;
}

/* hover ul li */
/* .navbar-nav li:hover .nav-link {
  font-size: 17px; /* Adjust the font size as needed */

.nav-link:focus,
.nav-link:hover {
  /* color: #ff0506; */
  background: linear-gradient(45deg, #ff0506, #ff0506, #ff0506, #c142423d);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 10px #ff0506);
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #ffffff;
}
.toogle-icon1 {
  color: #ff0506;
}

.navbar-toggler .navbar-toggler-icon.toogle-icon1 {
  color: blueviolet !important;
}
/* .navbarDropdown {
  background-color: black;
  background-color: black;
} */
.dropdown-item {
  background-color: black;
}
.nav-item {
  background-color: transparent;
}

/* strategy hover */
/* .nav-item:hover{
  font-size: 70px;
 
} */
.dropdown-menu {
  background-color: black;
  color: white;
}
.dropdown-item {
  color: #ff1a12;
  font-family: "Urbanist", sans-serif;
  font-size: 17px;
}

.spans {
  color: #ff0506;
  transition: 0.3s;
  font-size: 20px;
}
.spans .box {
  transition: 0.2s;
}
.navbar-nav {
  margin-right: 5%;
}
.nav-item {
  font-size: 20px;
  font-family: "Urbanist", sans-serif;
}
.blackpic {
  width: 85px;
  height: 43px;
  padding-left: 18px;
}
@media (max-width: 800px) {
  .blackpic {
    margin-top: 5%;
  }
}
/* hover */
@media (max-width: 2000px) {
  .nav-links {
    /* padding: 20px 15px; */
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(89, 61, 61, 0.2);
  }
  */
  /* .nav-links li{
    list-style: none;
    margin: 0 12px;
  } */
  .nav-links li a {
    position: relative;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
  }
  .nav-links li a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: hsl(0, 91%, 39%);
    border-radius: 12px;
    transition: all 0.4s ease;
  }
  .nav-links li a:hover:before {
    width: 100%;
  }
  .nav-links li.center a:before {
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-links li.upward a:before {
    width: 100%;
    bottom: -5px;
    opacity: 0;
  }
  .nav-links li.upward a:hover:before {
    bottom: 0px;
    opacity: 1;
  }
  .nav-linkss li.forward a:before {
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
  }
  .nav-links li.forward a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@media (max-width: 800px) {
  .nav-links {
    padding: 20px 15px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .nav-links li {
    list-style: none;
    margin: 0 12px;
  }
  .nav-links li a {
    position: relative;
    color: hsl(0, 91%, 39%);
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
  }
  .nav-links li a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: hsl(0, 91%, 39%);
    border-radius: 12px;
    transition: all 0.4s ease;
    display: none;
  }
  .nav-links li a:hover:before {
    /* width: 100%; */
  }

  .nav-links li.center a:before {
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-links li.upward a:before {
    width: 100%;
    bottom: -5px;
    opacity: 0;
  }
  .nav-links li.upward a:hover:before {
    bottom: 0px;
    opacity: 1;
  }
  .nav-links li.forward a:before {
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
  }
  .nav-links li.forward a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
  }
}
/* drop down */
.dropdown-menu .nav-links {
  /* padding: 20px 15px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2); */
}
.dropdown-menu .nav-links li {
  list-style: none;
  margin: 0 12px;
}
.dropdown-menu.nav-links li a {
  position: relative;
  color: hsl(0, 91%, 39%);
  font-size: 18px;
  font-weight: 300;
  padding: 6px 0;
  text-decoration: none;
}
.dropdown-menu.nav-links li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background-color: hsl(0, 91%, 39%);
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-links li a:hover:before {
  /* width: 100%; */
}

.dropdown-menu.nav-links li.center a:before {
  left: 50%;
  transform: translateX(-50%);
}
.dropdown-menu.nav-links li.upward a:before {
  width: 100%;
  bottom: -5px;
  opacity: 0;
}
.dropdown-menu .nav-links li.upward a:hover:before {
  bottom: 0px;
  opacity: 1;
}
.dropdown-menu.nav-links li.forward a:before {
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}
.dropdown-menu.nav-links li.forward a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
.nav-bar1 {
}
/* ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 3px;
}

li:after {
  content: "";
  margin: auto;
  display: block;
  height: 2px;
  width: 0%;
  background-color: transparent;
  /* transition: width 0.5s ease,background-color 0.5s ease; 
  transition: all 0.5s ease;
}
li:hover:after {
  width: 100%;
  background-color: red;
}*/

.navbar-nav .nav-item.active .nav-link {
  color: white;
  font-weight: bold;
}
.dropdown-item.active,
.dropdown-item:active {
  text-decoration: none;
  background-color: black;
}
