.nav-link.active {
   background: -webkit-linear-gradient(#d0ad11, #ff6a3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  /* Change the color to red */
}


.list {
  text-decoration: none;
}

.navbar-nav .nav-link.active {
  font-size: 20px;
  font-family: "Urbanist", sans-serif;
  color: rgb(255, 255, 255);
  
}
.nav-link {
  color: rgb(248, 248, 255);
  color: rgb(255, 255, 255);
  
  font-family: "Urbanist", sans-serif;
}

/* hover ul li */
/* .navbar-nav li:hover .nav-link {
  font-size: 17px; /* Adjust the font size as needed */

.nav-link:focus,
.nav-link:hover {
  /* color: rgb(255, 255, 255); */
  
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: rgb(255, 255, 255);

  color: rgb(255, 255, 255);
 
}


/* .nav-item {
  background-color: transparent;
} */


.navbar-nav .nav-link.active {
  font-size: 20px;
 font-family: "Urbanist", sans-serif;
  color: rgb(255, 255, 255);
 
}

.navbar-nav:hover{
  color: gold;
}

.spans{
  color: #f8e72c;
  transition: 0.3s;
  font-size: 35px;
}
.spans .box {
  transition: 0.2s;
}
.navbar-nav {
  margin-right: 5%;
}
.nav-item {
  font-size: 20px;
  font-family: "Urbanist", sans-serif;
}
.blackpic{
  width: 110px;
  height: 50px;
  padding-left: 18px;
}
@media (max-width: 768px){
  .blackpic{
    width: 90px;
    height: 50px;
    padding-left: px;
    margin-left: -3%;
  }
}


/* scroll */

.navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
 
  z-index: 2;
  height: 70px;
  
}


.navbar.scrolled {
  background-color: #000000; /* Change this to your desired color */
  
}

@media (max-width: 500px) {
  .navbar {
    /* Adjust styles for mobile view as needed */
    /* For example: */
    background-color: #000000;
    
  }
  .navbar.scrolled {
    background-color: none /* Change this to your desired color */
    
  }
}

.navbar-nav .nav-link {
  color: white; /* Default color of the links */
  transition: color 0.3s; /* Smooth transition for color change */
}

.navbar-nav .nav-link:hover {
  color: #ffdb3b;
}


  
/* .nav-link {
 
  font-size: 19px;
  font-weight: var(--prefix-nav-link-font-weight);
  color: var(--prefix-nav-link-color);
  text-decoration: none; /* Assuming $link-decoration is a variable for link decoration */
  /* background: black;
  border: 0;
  transition: var(--nav-link-transition);
  width: 450px;
  margin-left: -7%;
  padding-left: 7%;
  font-family: 'SuisseIntl', sans-serif;

  /* Hover and Focus Styles */
  /* &:hover,
  &:focus {
    color: yellow;
    text-decoration: none; /* Assuming $link-hover-decoration is a variable for hover link decoration */



    .nav-link {
      font-size: 19px;
      font-weight: var(--prefix-nav-link-font-weight);
      color: var(--prefix-nav-link-color);
      text-decoration: none;
      /* background: rgb(147, 21, 21); */
      border: 0;
      transition: var(--nav-link-transition);
      font-family: 'SuisseIntl', sans-serif;
    }
    
    /* Media query for mobile screens (adjust as needed) */
    @media (max-width: 768px) {
      .nav-link {
        width: 450px;
  margin-left: -7%;
  padding-left: 7%;
  background-color: #000000;
  font-family: 'SuisseIntl', sans-serif;
  font-size: 8px;
      }
    
      /* Hover and Focus Styles (optional) */
      .nav-link:hover,
      .nav-link:focus {
        color: yellow;
        text-decoration: none;
      }

      .navbar.scrolled {
        background-color:none; /* Change this to your desired color */
        
      }
    }