.app {
  overflow: hidden;
}
.top1-tit {
  overflow: hidden;
}

/* ----------------------Backtotopbutton css ---------------------------------------------- */
.top-button {
  transition: all 0.3s ease-in-out;
}

.top-button {
  width: 150px;
  height: 50px;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #ff0506, #ff0506, #ff0506);
  box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 34px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.top-button:hover {
  transform: translateY(10px);
  box-shadow: none;
}
.top-button:active {
  opacity: 0.5;
}
/* ----------------------Backtotopbutton css ---------------------------------------------- */
